<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSStatusItemPreferredPosition</key>
	<string>NSStatusItemPriorityDefault</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>需要管理员权限来修改系统配置</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
